<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form alt="cadastroApto" action="/cadastrarApto" method="post" th:object="${apartamento}">
        <label for="nro_quarto">Número do quarto: </label>
        <input type="number" id="nro_quarto" th:field="*{nrPorta}">

        <label for="qtd_quartos">Quantidades de quartos: </label>
        <input type="number" id="qtd_quartos" th:field="*{qtdQuartos}">
        
        <label for="tipo_ocup">Tipo de Ocupação: </label>
        <input type="text" id="tipo_ocup" th:field="*{tipo}">

        <input type="reset" value="Limpar">
        <input type="submit" value="Cadastrar">
    </form>
</body>
</html>